


body{
  
    background: rgb(206, 171, 177);
    background-image:url(./img/test_yourself.jpg);
    background-size: cover;
    
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    }

h1{
    color: #fafafa;
  
    text-decoration-line: underline;
  text-decoration-style: dotted;
}

#quiz-container{
    height: fit-content;   /*  70vh means the height of my screen which is visible now it will take 70% of that  means if we roll page it will not keep increasing its width . To make possible that it keep increasing its width we use height:fit-content  */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;

 
}
.card{
    width: 350px !important;
    box-sizing: border-box;
    margin-top: 5px;
}

.img1{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size:cover;
    border: 2px solid rgb(80, 134, 180);
    border-radius: 5px;

}

.img2{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size:cover;
    border: 2px solid rgb(80, 134, 180);
    border-radius: 5px;

}
.img3{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size:cover;
    border: 2px solid rgb(80, 134, 180);
    border-radius: 5px;

}

.img4{
    width: 100%;
    height: 100%;
    object-fit: cover;   /* used to fill with the image without resizing defined for image only  */
    background-size:cover;
    border: 2px solid rgb(80, 134, 180);
    border-radius: 5px;
}

.card:hover {
    background-color: yellow;
    }
.selected{
    background-color: blanchedalmond;
}
#question{
    color: #fafafa;
    
}
#options{
    color: hsl(300, 79%, 85%);
    
}
    
@media (max-width: 600px) {
    body {
      background-color: rgb(187, 220, 40);
      height: fit-content;
    }
    .container{
        background-image: url(./img/test_yourself.jpg);
        height: fit-content;      /*   To make possible that it keep increasing its width we use height:fit-content  */
    }
  }